

body{
    font-family: "Apple Braille";
    font-size: 25px;
}

.keys{
    display: flex;
    justify-items: flex-start;
    justify-content: space-around;
    color: crimson;
    padding:100px;
    margin-top: 180px;

}

.key{
    border-radius: 2px;
    padding: 20px;
    border: 1px solid black;
}
